:root {
/* TEXT */
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --accent-color-white: #FFFFFF;
/* BACKGROUND */
    --primary-bg-color: #E5E5E5;
    --secondary-bg-color: #F5F4FA;
    --gray-bg-color: #2F303A;
/* FONT-SIZE */
    --reg-font-size: 14px;
}

/* GENERAL */
body {
    background-color: var(--primary-bg-color);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: var(--primary-text-color);
    cursor: pointer;
}
ul {
    list-style: none;
}
.hidden {
    display: none;
}
.common:active {
    color: var(--accent-color);
}
.team h2,
.area h2 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}
/* INLINE LISTS */
.inline li {
    display: inline;
}

/* HEADER+FOOTER */
.nav a {
    color: var(--primary-text-color);
}
.nav-contacts a {
    color: var(--secondary-text-color);
}
.nav a,
.nav-contacts a {
    font-size: var(--reg-font-size);
    font-weight: 500;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: 0.02em;
}
.nav a:hover,
.nav a:focus,
.nav-contacts a:hover,
.nav-contacts a:focus {
    color: var(--accent-color);
}
.footer {
    background-color: var(--gray-bg-color);
}
.footer .contacts a {
    font-size: var(--reg-font-size);
    color: rgba(255, 255, 255, .6);
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.footer .contacts .adress {
color: var(--accent-color-white);
}

/* LOGO */
.logo,
.footer-logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo-header {
    color: var(--primary-text-color);
}
.logo-footer {
    color: var(--accent-color-white);
}

/* HERO */
.hero {
    background-color: var(--gray-bg-color);
    text-align: center;
    vertical-align: middle;
}
.hero h1 {
    color: var(--accent-color-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
}
.hero button {
    background-color: var(--accent-color);
    color: var(--accent-color-white);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;
}

/* advantages */
.advantages h3,
.advantages p {
    font-size: var(--reg-font-size);
}
.advantages h3 {
    color: var(--primary-text-color);
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.advantages p {
    color: var(--secondary-text-color);
    line-height: 1.7;
    letter-spacing: 0.03em;
}

/* TEAM */
.team {
    background-color: var(--secondary-bg-color);
}
.team h3,
.team p {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
.team h3 {
    font-weight: 500;
}

/* PAGE PORTFOLIO */
/* portfolio menu */
.portfolio-menu.button {
    font-size: 16px;
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}
.portfolio-menu .button:hover,
.portfolio-menu .button:focus {
    background-color: var(--accent-color);
    color: var(--accent-color-white);
}
/* portfolio list */
.portfolio-list h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-list p {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

/* FONTS
@font-face {
    font-family: 'Raleway-Bold';
    src: url(/fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Roboto-Black';
    src: url(/fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(/fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url(/fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(/fonts/Roboto/Roboto-Regular.ttf);
} */