:root {
/* TEXT */
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --accent-color-white: #FFFFFF;
    --footer-links-color: rgba(255, 255, 255, 0.6);
/* BACKGROUND */
    --primary-bg-color: #E5E5E5;
    --secondary-bg-color: #F5F4FA;
    --gray-bg-color: #2F303A;
/* FONT*/
    --main-fs: 'Roboto';
    --secondary-fs: 'Raleway';
    --font-fam: 'sans-serif';
    --reg-font-size: 14px;
    --h2-font-size: 36px;
    --button-font-size: 16px;
    --line-height: 1.2;
    --letter-spacing: 0.03em;
    --button-border-radius: 4px;
}
/* GENERAL */
body {
    background-color: var(--primary-bg-color);
    font-family: --main-fs;
    color: var(--primary-text-color);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    font-weight: 400;
}
a {
    cursor: pointer;
    text-decoration: none;
    font-style: normal;
}
ul {
    list-style: none;
}
.hidden {
    display: none;
}
.inline li {
    display: inline;
}

.team-heading,
.area-heading {
    text-align: center;
    font-weight: 700;
    font-size: var(--h2-font-size);
    line-height: 1.16;
}
.hero,
.footer {
    background-color: var(--gray-bg-color);
}
.button {
    border-radius: var(--button-border-radius);
    font-size: var(--button-font-size);
}
/* HEADER+FOOTER */
header{
    background-color: var(--accent-color-white);
}
.nav-link {
    color: var(--primary-text-color);
}
.contacts-link {
    color: var(--secondary-text-color);
}
.nav-link,
.contacts-link {
    font-size: var(--reg-font-size);
    font-weight: 500;
    letter-spacing: 0.02em;
}
.nav-link:hover,
.contacts-link:hover,
.nav-link:focus,
.contacts-link:focus,
.footer-list a:hover,
.footer-list a:focus {
    color: var(--accent-color);
}
.footer-list a  {
    line-height: 1.4;
}
.adress-link {
    color: var(--footer-links-color);
}
.adress {
    color: var(--accent-color-white);
}
/* LOGO */
.header-logo,
.footer-logo {
    color: var(--accent-color);
    font-family: var(--secondary-fs);
    font-size: 26px;
    font-weight: 700;
}
.header-logo span {
    color: var(--primary-text-color);
}
.footer-logo span {
    color: var(--accent-color-white);
}
/* HERO */
.hero-heading {
    color: var(--accent-color-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    text-align: center;
}
.hero .button {
    background-color: var(--accent-color);
    color: var(--accent-color-white);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
}
.hero .button:hover,
.hero .button:focus {
    background-color: var(--accent-color-white);
    color: var(--accent-color);
}
.hero-heading,
.hero .button {
    letter-spacing: 0.06em;
}
/* ADVENTAGES */
.advantages .list-heading {
    font-weight: 700;
    text-transform: uppercase;
}
.advantages .advantages-text {
    line-height: 1.7;
}
/* TEAM */
.team {
    background-color: var(--secondary-bg-color);
}
.team .list-heading,
.team .list-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}
.team .list-heading {
    font-weight: 500;
}
.team .list-text {
    color: var(--secondary-text-color);
}
/* PAGE PORTFOLIO */
/* portfolio menu */
.portfolio-menu .button {
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
}
.portfolio-menu .button:hover,
.portfolio-menu .button:focus {
    background-color: var(--accent-color);
    color: var(--accent-color-white);
}
/* portfolio list */
.portfolio-heading {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    font-weight: 700;
    color: var(--primary-text-color);
}
.portfolio-text {
    color: var(--secondary-text-color);
    font-size: var(--button-font-size);
    letter-spacing: 1.87;
}

